{% extends 'base.html' %}

{% block title %}Homepage{% endblock %}

{% block content %}



<div class="row">
    <div class="col">
        <div class="row">
            <div class="col">
                <p>Search with a <i>latitude,longitude</i> pair or a city name or an address.</p>
            </div>
        </div>
        <form class="row" method="POST">
            {{ loc_form.hidden_tag() }}

            <div class="form-group col">
                {{ loc_form.location(class_="form-control", placeholder="38.8974,-77.0365 | 1600 Pennsylvania Avenue NW,
                Washington, DC 20500") }}

                {% for error in loc_form.location.errors %}
                <small class="form-text text-danger">
                    {{ error }}
                </small>
                {% endfor %}
            </div>
            <div class="col-auto">
                {{ loc_form.search(class_="btn btn-success") }}
            </div>
        </form>
    </div>
    {% if g.user %}
    <div class="col-1"></div>
    <div class="col-3">
        <h3>Your Favorites</h3>
        {% if g.user.favorites|length > 0 %}
        <div class="list-group list-group-flush">
            {% for fav in g.user.favorites %}
            {% if fav.address %}
            <a href="/locs/{{ fav.id }}" class="list-group-item">{{ fav.address }}</a>
            {% else %}
            <a href="/locs/{{ fav.id }}" class="list-group-item">{{ fav.lat }}, {{ fav.long }}</a>
            {% endif %}
            {% endfor %}
        </div>
        {% endif %}
    </div>
    {% endif %}
</div>
{% endblock %}